################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiPlug.Ext.RasPi.Config/obj
/MultiPlug.Ext.RasPi.Config/.vs/config
/MultiPlug.Ext.RasPi.Config/bin/Release
/src/MultiPlug.Ext.RasPi.Config/obj
/src/MultiPlug.Ext.RasPi.Config/bin/Release
/src/MultiPlug.Ext.RasPi.Config/.vs/config
/src/MultiPlug.Ext.RasPi.Config/.vs/MultiPlug.Ext.RasPi.Config/v14/.suo
/src/.vs
/src/MultiPlug.Ext.RasPi.Config/MultiPlug.Ext.RasPi.Config.csproj.user
/src/MultiPlug.Ext.RasPi.Config/bin/Debug
/pub/MultiPlug.Ext.RasPi.Config.1.0.18.nupkg
