################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiPlug.Ext.RasPi.Config/obj
/MultiPlug.Ext.RasPi.Config/.vs/config
/MultiPlug.Ext.RasPi.Config/bin/Release
/src/MultiPlug.Ext.RasPi.Config/obj
/src/MultiPlug.Ext.RasPi.Config/bin/Release
/src/MultiPlug.Ext.RasPi.Config/.vs/config
